@charset "utf-8";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');

@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), url('../fonts/Pretendard-Bold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	font-display: swap;
	src: local('Pretendard SemiBold'), url('../fonts/Pretendard-SemiBold.woff') ,format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-display: swap;
	src: local('Pretendard Medium'), url('../fonts/Pretendard-Medium.woff') format('woff');
}

@font-face {
  font-family: 'ONE-Mobile-Title';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*******************************************************************************   base  */
* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  line-height: 20px;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
  overflow-x: hidden;
  letter-spacing: -0.02rem;
  position: relative;
  font-weight: 300;
}

a {
  color: #111;
  text-decoration: none;
}

img {
  border: none;
  vertical-align: top;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
ul,
li,
ol,
dl,
dt,
dd {
  box-sizing: border-box;
}

x select::-ms-expand {
  display: none;
}

br {
  font-family: dotum;
}

/*공간값인식을 변경함 (가로 x 세로 값 안에 padding/border 포함)*/

address {
  font-style: normal;
}

input:focus,
select:focus,
input[type=radio]:focus,
input[type=checkbox]:focus {
  outline: none;
}

input::-webkit-input-placeholder {
  font-size: 90%;
}
input::-moz-placeholder {
  font-size: 90%;
}
input:-ms-input-placeholder {
  font-size: 90%;
}
input:-moz-placeholder {
  font-size: 90%;
}

button {
  all: unset;
  text-align: center;
  cursor: pointer;
}

.cf {
  content: "";
  display: block;
  clear: both;
}

.wrap {
  position: relative;
}

/*header*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: background-color .3s, box-shadow .3s;
  z-index: 99999;
}

.header.fix{
  background: rgba(255, 255, 255);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
}

.header__wrap {
  position: relative;
  max-width: 1400px;
  margin: 25px auto;
}

.header.fix .header__branding-image{
  content:url(../img/toplogo_active.png);
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1840px;
  padding: 0 20px;
  margin: 0 auto;
  transition: height .3s;
}

.header__branding-image {
  margin-right: 20px;
  content: url(../img/toplogo2.png);
}

.header-user-mobile {
  display: none;
}

.header__inner .input_box {
  display: flex;
}

.header__inner .input_box input {
  min-width: 440px;
  height: 30px;
  padding: 10px 25px;
  border: 0;
  flex: 75% 0 0;
  border-radius: 34px;
  font-size: 16px;
  transition:all ease .5s;
}

.header__inner .input_box input:focus{
   box-shadow:inset 0px 0px 0px 5px #057861;
}

.header.fix .header__inner .input_box input{
  border: 1px solid #057861;
}

.header__inner .input_box {
  position: relative;
}

.header__inner .input_box .search_btn {
  display: inline-block;
  background: #057861 url(../img/head_searchico.png)no-repeat 50% 50%;
  width: 50px;
  height: 50px;
  transition: all 0.2s;
  font-size: 0;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 34px;
}

.header__inner .utill {
  display: flex;
  justify-content: end;
}

.header__inner .utill li {
  position: relative;
  margin-right: 35px;
  padding-left: 30px;
}

.header__inner .utill li a{
  color:#fff;
}

.header.fix .header__inner .utill li a{
  color:#000;
}

.header__inner .utill li:last-child {
  margin-right: 0;
}

.header__inner .utill li a::after {
  content: "";
  position: absolute;
  right: -20px;
  top: 10%;
  width: 1px;
  height: 15px;
  background: #fff;
}

.header.fix .header__inner .utill li a::after {
  content: "";
  position: absolute;
  right: -20px;
  top: 10%;
  width: 1px;
  height: 15px;
  background: #515151;
}

.header__inner .utill li:last-child a::after {
  display: none;
}

.header__inner .utill li .btn_home::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 18px;
  height: 19px;
  margin-top: -10px;
  background: url(../img/home.png) no-repeat 0 0;
}

.header__inner .utill li .btn_login::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 18px;
  height: 19px;
  margin-top: -10px;
  background: url(../img/login.png) no-repeat 0 0;
}

.header__inner .utill li .bth_sign::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 18px;
  height: 19px;
  margin-top: -10px;
  background: url(../img/SignUp.png) no-repeat 0 0;
}


.header.fix .header__inner .utill li .btn_home::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 18px;
  height: 19px;
  margin-top: -10px;
  background: url(../img/home_active.png) no-repeat 0 0;
}

.header.fix .header__inner .utill li .btn_login::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 18px;
  height: 19px;
  margin-top: -10px;
  background: url(../img/login_active.png) no-repeat 0 0;
}

.header.fix .header__inner .utill li .bth_sign::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 18px;
  height: 19px;
  margin-top: -10px;
  background: url(../img/SignUp_active.png) no-repeat 0 0;
}

/* --------------------------------------------------sub_container*/
.sub_container{
  width: 100%;
  position: relative;
}
.sub_bg {
  height: 500px;
  background: url(../img/sub_visual.png) no-repeat center / cover;
}

.sub_tx {
  font-family: 'ONE-Mobile-Title';
  color: #fff;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  line-height: 1.4;
  padding: 0 15px;
}

.sub_nav_inner{
  width: 100%;
  background-color: #057861;
  position: relative;
  font-family: 'Pretendard';
  font-weight: 500;
  font-size: 1.2rem;
  max-width: 1400px;
  margin: 0 auto;
}

.sub_menu{
  max-width: 130px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.sub_menu li.home{
  padding-right: 0;
}

.sub_menu li{
  position:relative;
  text-align: center;
  flex: none;
  margin-right: 0px;
  padding-right: 30px;
}

.sub_menu li:not(.home):not(:last-child):after{
  content:'';
  position:absolute;
  background:url(../img/nav_after.png)no-repeat;
  width: 20px;
  height:100%;
  top: 0;
  right: 0;
  background-size: contain;
}

.sub_menu li.home a{
  display: flex;
  background: #1DA58A;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 22px 15px;
  background: #1DA58A url(../img/nav_home.png)no-repeat center;
  text-indent: -9999px;
  width: 40px;
  justify-content: center;
  align-items: center;
}

.sub_menu li a{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 22px 25px;
}

.sub_arrow img{
display: block;
}

.sub_menu .sub_menu_item a{
  color: #fff;
  display: block;
}
/* -----------------------------------------------------------footer*/
.footer{
  position: relative;
  background-color: #4F4F4F;
  padding: 50px 0;
}

.in_footer{
  width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_logo a{
  display: block;
}

.footer_adr{
}

.footer_adr p{
  color: #fff;
  font-family: 'Pretendard';
  font-size: 0.95rem;
  font-weight: 300;
  letter-spacing: 1px;

}

/* paging */

.paging {
	display: flex;
	/* justify-content: center; */
	/* flex: 1 1 20%!important; */
	/* align-items: center; */
	margin: 50px auto;
	gap: 0px;
	max-width: 350px;
}

.paging a {
	color: #575757;
	flex: 1 1 10%;
	text-align: center;
	height:15px;
	width: 15px;
	line-height: 1;
}

.paging a.active {
	position: relative;
	color: #057861;
	font-weight: 600;
	border-radius: 50%;
}

.paging a.active:before {
	position: absolute;
	content: '';
	color: #057861;
	font-weight: 600;
	border: 1px solid #057861;
	border-radius: 50%;
	width: 22px;
	height: 22px;
	left: 50%;
	top: -5px;
	transform: translate(-50%);
}

.paging a.prev {
	background: url(../img/paging_prev.png)no-repeat bottom;
	background-size: contain;
	text-indent: -99999px;
	display: inline-block;
}

.paging a.next {
	background: url(../img/paging_next.png)no-repeat center;
	background-size: contain;
	text-indent: -9999px;
	display: inline-block;
}

.paging a.n-prev {
	background: url(../img/paging-n-prev.png)no-repeat bottom;
	background-size: contain;
	text-indent: -99999px;
	display: inline-block;
}

.paging a.n-next {
	background: url(../img/paging-n-prev.png)no-repeat center;
	background-size: contain;
	text-indent: -9999px;
	display: inline-block;
  transform: rotate(180deg);
}

.paging a.first {
	background: url(../img/first.png)no-repeat bottom;
	background-size: contain;
	text-indent: -99999px;
	display: inline-block;
	width: 15px;
	height: 15px;
	float: left;
}

.paging a.last {
	background: url(../img/first.png)no-repeat center;
	background-size: contain;
	text-indent: -9999px;
	display: inline-block;
  transform: rotate(180deg);
}

/* color */
.color01{
  color:#057861;
}

.C-point{
  font-style: normal;
  color:#C90E0E;
}

/* font-weight */
.fontB{
  font-weight: 600;
}

/* font-style */
.fontN{
  font-style: normal;
}

/* input */
input.form-input{
  border:1px solid #707070;
  border-radius: 5px;
  padding: 10px 5px;
  color: #707070;
}
input.small-input{
  border:1px solid #707070;
  border-radius: 5px;
  padding: 7px 5px;
  width:80px;
  min-width:80px;
  max-width:100%;
  text-align: center;
}

/* select */
select.form-select{
  border:1px solid #707070;
  border-radius: 5px;
  padding: 10px 5px;
  width: 100%;
  font-size: 15px;
  -webkit-appearance:none; /* for chrome */
  -moz-appearance:none; /*for firefox*/
  appearance:none;
  box-sizing: border-box;
  background: url(../img/select.png)no-repeat right 10px center;
  color: #858585;
}

/* flex */
.flex{
  display: flex;
}
.justify-end{
  justify-content: flex-end;
}
.justify-between{
  justify-content:space-between;
}
.justify-center{
  justify-content:center;
}
.align-center{
  align-items: center;
}
.flex-colum{
  flex-direction: column;
}
.align-start{
  align-items:flex-start;
}
.flex-Wrap{
  flex-wrap:wrap;
}
.flex > *.flex{
	gap: 10px;
}
.flex-Wrap > *.item{
  flex:100% !important;
}
.gap10{
  gap:10px;
}
.gap20{
  gap:20px;
}

/* width */
.Size-s{
  width:110px;
}

/* btn */
.btn-WR{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 50px;
}
.btn-nomal{
  padding: 10px 25px;
  font-size: 17px;
  border-radius: 5px;
}
.btn-small{
  padding: 7px 25px;
  border-radius: 5px;
}

.btn01{
  border:1px solid #057861;
  color:#057861;
}

.btn02{
  border:1px solid #057861;
  color:#fff;
  background:#057861;
}

.btn03{
  padding:7px 25px;
  background:#EBEBEB;
}

/* text-align */
.txt-left{
  text-align: left !important;
}

.txt-center{
  text-align: center !important;
}

/* margin */

/* top */
.mt_0{
  margin-top:0 !important;
}

.mt_5{
  margin-top:5px !important;
}

.mt_10{
  margin-top:10px !important;
}

.mt_15{
  margin-top:15px !important;
}

.mt_20{
  margin-top:20px !important;
}

.mt_25{
  margin-top:25px !important;
}

.mt_30{
  margin-top:30px !important;
}

.mt_50{
  margin-top:50px !important;
}

/* bottom */
.mb_0{
  margin-bottom:0 !important;
}

.mb_5{
  margin-bottom:5px !important;
}

.mb_10{
  margin-bottom:10px !important;
}

.mb_15{
  margin-bottom:15px !important;
}

.mb_20{
  margin-bottom:20px !important;
}

/* left */
.ml_0{
  margin-left:0 !important;
}

.ml_5{
  margin-left:5px !important;
}

.ml_10{
  margin-left:10px !important;
}

/* right */
.mr_0{
  margin-right:0 !important;
}

.mr_5{
  margin-right:5px !important;
}

.mr_10{
  margin-right:10px !important;
}

.p_50{
  padding:50px !important;
}



@media screen and (max-width: 1120px){
 
  .header__inner {
    display: inline-block;
    padding: 15px 25px;
    width: 100%;
  } 

  .header__branding {
    max-width: none;
    height: 29px;
    font-size: 26px;
    text-align: center;
    position: relative;
  }

  .header__branding img {
    max-height: 35px;
  }

  .search_box {
    position: static;
    width: auto;
    margin: 13px auto 0;
  }

  .header__inner .input_box input {
    height: 20px;
    padding: 10px 0 10px 10px;
    min-width: 100%;
  }

  .header__inner .input_box .search_btn {
    display: none;
  }

  .header__inner .utill {
    display: none;
  }

  .header-user-mobile {
    display: block;
    position: absolute;
    right: -8px;
    top: -2px;
    font-size: 0;
  }

  .btn-mobile-home {
    display: inline-block;
    position: relative;
    width: 34px;
    height: 34px;
    border: 0;
    vertical-align: top;
  }

  .btn-mobile-login {
    display: inline-block;
    position: relative;
    width: 34px;
    height: 34px;
    border: 0;
    vertical-align: top;
  }

  .btn-mobile-home::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 18px;
    height: 19px;
    margin-top: -10px;
    background: url(../img/m_home.png) no-repeat 0 0;
  }

  .btn-mobile-login::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 18px;
    height: 19px;
    margin-top: -10px;
    background: url(../img/login.png) no-repeat 0 0;
  }


  .header.fix .btn-mobile-home::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 18px;
    height: 19px;
    margin-top: -10px;
    background: url(../img/home_active.png) no-repeat 0 0;
  }

  .header.fix .btn-mobile-login::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 18px;
    height: 19px;
    margin-top: -10px;
    background: url(../img/login_active.png) no-repeat 0 0;
  }
  
   .sub_bg {
    height: 300px;
  }

  .sub_bg p {
    font-size: 1.7rem;
    padding-top: 100px;
  }

  .footer_adr p{
    font-size: 0.8rem;
  }

  .in_footer {
    width: 100%;
    word-break: keep-all;
    padding: 20px;
    flex-wrap: wrap;
    padding: 0 20px;
    gap: 25px;
  }
  .in_footer a{
    flex:1;
  }
  .in_footer a img{
    height: 30px;
  }
  
.main-about .main_container h2{
    font-size:1.5rem;
	padding: 0;
  }
  .sub_menu .sub_menu_item a{
    font-size: 0.75rem;
    padding: 15px 5px;
  }
  .sub_menu li.home a{
    background-size:18px;
    padding: 15px 0px;
    margin-right: 5px;
  }
  .sub_menu li{
    padding-right:15px;
  }
}

@media screen and (max-width: 768px){

  .btn-nomal{
	  font-size:0.9rem;
  }
  select.form-select{
	  font-size: 0.75rem;
	 }
  .point-em{
    font-size:0.8rem;
  }

  body{
    font-size:0.9rem;
  }

}

  